* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    max-height: 100vh;
}
.center{
    margin-top: 230px;
}
.reset {
    width: 250px;
    position: relative;
    border: none;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0 auto;
    width: 380px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 29px;
    margin: 0 auto;
}
.bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}
.registration-form{
    background-color: rgba(128, 128, 128, 0.5);
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0 auto;
    position: relative;
    width: 380px;
    appearance: text;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 15px;
}
input {
    background-color: transparent;
    color: black;
    border: none;
  }
.btn {
    width: 125px;
    margin-left: 225px;
    border: none;
    height: 25px;
    text-transform: uppercase;
    background: yellow;
    border-radius: 23px;
}