* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: 250px;*/
}
.sign_form {
    background-color: rgba(128, 128, 128, 0.5);
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 380px;
    display: flex;
    margin-top: 230px;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 15px;
}
h1 {
    font-size: 29px;
    text-align: center;
}
input {
    background-color: transparent;
    color: black;
    border: none;
  }

button {
    background-color: rgb(255, 234, 0);
    color: black;
    width: 160px;
    right: 2px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    height: 100vh;
}
.bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}
